.alert {
  width: 50%;
  margin: auto;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 800px;
  overflow: hidden;
  border-left: 1px solid;
  border-right: 1px solid;
}

.subContainer {
  margin-top: 20px;
  width: 75%;
  height: 100%;
  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.articles {
  width: 50%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-column-gap: 50px;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  margin: auto;
}

.tabList {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}