.navBar {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBarElement:hover {
    margin-left: 45px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a957fb;
}

.navBarElement {
    margin-left: 45px;
    padding: 5px;
}

.blocker {
   clear: both;
}